@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css" type="text/css">
    <link rel="stylesheet" href="~/css/main.css" type="text/css">
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
    <title>Map Example</title>
</head>

<body>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nokta Sorgulama</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="content" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <button id="modalBtn" style="visibility:hidden;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"></button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nokta Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name" class="col-form-label">İsim:</label>
                            <input type="text" class="form-control" id="name" required>
                        </div>
                        <div class="form-group">
                            <label for="number" class="col-form-label">Numara:</label>
                            <input class="form-control" id="number" required>
                        </div>
                        <input class="form-control" id="coordinate" style="visibility:hidden;">
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="closeBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button id="addBtn" type="button" class="btn btn-primary">Ekle</button>
                </div>
            </div>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li><a onclick="AddPoint()" href="#">Add Point</a></li>
            <li><a id="queryPoint" href="#" data-toggle="modal" data-target=".bd-example-modal-lg">Query Point</a></li>
        </ul>
    </div>
    <div id="map" class="map"></div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            InitializeMap();

            AddInteraction();
        });</script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#addBtn").click(function () {
                var name = $('#name').val();
                var number = $('#number').val();
                var coordinate = $('#coordinate').val();
                $.ajax({
                    url: '/Home/SaveCoordinate/',
                    type: 'POST',
                    dataType: 'json',
                    data: { Name: name, Number: number, Coordinate: coordinate }
                });
                $('#name').val('');
                $('#number').val('');
                $('#closeBtn').click();
            });

            $("#queryPoint").click(function () {
               
                $.ajax({
                    url: '/Home/GetData/',
                    type: 'GET',
                    dataType: 'html',
                    data: { },
                    success: function (data) {
                        $('#content').html(data);
                    },
                    error: function (hata) {

                    }
                });
                
            });
        });
    </script>

</body>

</html>
